/* Base html */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
/********* General *****************/
body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, section {
  max-width: 1140px;
  margin: 50px auto;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

.hidden {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}
nav ul li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}
nav ul li:hover {
  color: #B1663C;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

.btn {
  background-color: #fffef8;
  color: #1D6154;
  border: 1px solid #1D6154;
  border-radius: 60px;
  padding: 10px 20px;
  text-align: center;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(29, 97, 84, 0.4745098039);
  color: white;
  transition: 0.18s ease-in-out;
}

.btn-selected {
  background-color: #1D6154;
  color: white;
}
.btn-selected:hover {
  background-color: #1D6154;
  box-shadow: none;
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

.form {
  margin: auto;
  text-align: center;
  width: 30%;
}
.form h2 {
  margin-bottom: 20px;
}
.form form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.form form input, .form form textarea {
  border: none;
  padding-left: 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form form input {
  height: 50px;
  font-size: 1.2em;
}
.form form textarea {
  padding: 5px 0 0 5px;
}
.form form label {
  margin: 2em 0 1em 0;
}
.form a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 98%;
}
header nav ul {
  display: flex;
  flex-flow: row wrap;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}
h1 span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 2em 8em 2em 0;
  background-color: white;
}
footer nav ul li {
  font-size: 16px;
  font-weight: 300;
}

footer {
  margin-top: auto;
}

.modale_bar {
  display: none;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 59px;
  font-size: 16px;
  font-weight: 400;
  cursor: default;
}

i {
  padding-right: 10px;
}

#portfolio .gallery-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#portfolio .gallery-title .open-modal {
  font-size: 16px;
}

.active {
  display: flex !important;
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 auto;
  overflow: auto;
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 40px);
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.modal-wrapper::backdrop {
  background: rgb(0, 0, 0);
}
.modal-wrapper nav {
  display: flex;
  justify-content: space-between;
}

.add-to-modal {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  padding: 10px 5px;
  text-align: center;
  border-radius: 60px;
}

/* Section Introduction */
#introduction {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  width: 98%;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
}

/********************** Section Portfolio **************************/
#portfolio {
  padding-bottom: 60px;
  position: relative;
  /* Boutons de Filtres */
}
#portfolio h2 {
  text-align: center;
}
#portfolio .filters {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin: 60px auto;
}
#portfolio .gallery {
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#portfolio .gallery img {
  width: 100%;
}

.logged_in {
  cursor: default;
  font-weight: 800;
}
.logged_in:hover {
  color: inherit;
}

#log-in h2 {
  margin-bottom: -20px;
}
#log-in form p {
  text-align: center;
  margin: 20px 0 -10px 0;
  font-size: 18px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
