@use "../utils/" as *;

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 98%;

	nav ul{
		flex-flow: row wrap;

		.instagram-link{
			position: relative;
			display: flex;
			justify-content:center;
  		align-items:center;
			width: 40px;
  		height: 40px;

			img{
				position: absolute;
				display: block;
			}
			#instagram-1{
				opacity: 1;
			}
			#instagram-2{
				opacity: 0;
			}
			&:hover #instagram-1{
				opacity: 0;
			}
			&:hover #instagram-2{
				opacity: 1;
			}
		}
		
	}
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: $light-brown;
  
  span{
    font-family: 'Work Sans';
	  font-size:10px;
	  letter-spacing: 0.1em;
  }
	
}
