// couleurs
$white:rgb(255, 255, 255);

$beige:rgb(255, 254, 248);

$grey:rgb(167, 167, 167);

$darker-grey:rgb(179, 179, 179);

$green:rgb(29, 97, 84);

$light-green:rgba(29, 97, 84, 0.475);

$light-brown:rgb(177, 102, 60);

$black:rgb(0, 0, 0);

