// couleurs
$white: rgb(255, 255, 255);

$black: rgb(0, 0, 0);

$beige: rgb(255, 254, 248);

$grey: rgb(167, 167, 167);

$grey-2: rgb(179, 179, 179);

$grey-3: rgb(185, 197, 204);

$grey-4: rgb(203, 214, 220);

$darker-grey: rgb(68, 68, 68);

$green: rgb(29, 97, 84);

$light-green: rgba(29, 97, 84, 0.475);

$light-brown: rgb(177, 102, 60);

$blue: rgb(48, 102, 133);

