// Changement de style pour le bouton "login" du header
.logged_in{
	cursor: default;
	font-weight: 800;

  &:hover{
    color: inherit;
  }
}

//Formulaire de connexion
#log-in{
  
  h2{
    margin-bottom: -20px;
  }
  form p{
    text-align: center;
    margin: 20px 0 -10px 0;
    font-size: 18px;
    font-weight: 600;
  }
}