@use "../utils/" as *;


* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}


body {
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: $beige;
	//// Code pour aligner le footer en bas de page
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, section{
	max-width: 1140px;
	margin: 50px auto;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: $green;
}

button{
	all: unset;
	cursor: pointer;
}

a{
	text-decoration: none;
	color: inherit;
}

.hidden{
	display: none;
}

.unselectable {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


