@use "../utils/" as *;

/* Base html */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/




/********* General *****************/
body {
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: $beige;
	//// Code pour aligner le footer en bas de page
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, section{
	max-width: 1140px;
	margin: 50px auto;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: $green;
}

.hidden{
	display: none;
}

.unselectable {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button{
	all: unset;
	cursor: pointer;
}



// Liens de navigation Header & Footer
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 20px;

	li {
		padding: 0 10px;
		font-size: 1.2em;
		cursor: pointer;

		&:hover {
			color: $light-brown;
		}
	}
}

a{
	text-decoration: none;
	color: inherit;
}
