// Réutiliser partie du code pour l'input "envoyer" en bas de page

.btn{
	background-color: white;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px ;

	text-align: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;

	padding: 5px 20px;
	&:focus{
		color: white;
		background-color: #1D6154;
	}
}

.btn-selected{
	color: white;
	background-color: #1D6154;
}