@use "../utils/" as *;

.modale_bar{
  display: none;
  color: $white;
  background-color: $black;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 59px;
  font-size: 16px;
  font-weight: 400;
  cursor: default;
}

i{
  padding-right: 10px;
}



// Bouton d'ouverture de la boite modale
#portfolio .gallery-title{
	display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  

  .open-modal{
    font-size: 16px;
  }
}
  


// Boite Modale
 #modal-container{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($black, 0.3);
  
  .modal-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex:0 1 auto;
    overflow: auto;
    box-sizing: border-box;
    width: 630px;
    height: 680px;
    max-width:calc(100vw - 40px);
    max-height:calc(100vh - 20px);
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
  
    .fa-arrow-left{
      position: absolute;
      top: 30px;
      left: 20px;
      display: none;
    }
    .fa-xmark{
      position: absolute;
      top: 30px;
      right: 20px;
    }
  
    h3{
      font-size: 26px;
      font-weight: 400;
      
      align-self: center;
      padding-top: 20px;
    }
  
    .modal-gallery{          
        margin: 20px 60px;
        padding-bottom: 40px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        
        overflow-y: auto;
        border-bottom: 1px solid $grey-2;
        box-sizing: border-box;
  
        figure{
          position: relative;
          img {
            width: 100%;
          }
          .bin-container{
            position: absolute;
            z-index: 999;
            top: 5px;
            right: 5px;
            display: flex;
            justify-content:center;
            align-items:center;
            color: $white;
            text-align: center;
            background: $black;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            cursor: pointer; 
            
            .fa-trash-can{
              padding: 0;
              margin: 0;
            }
          }
        }
    }

    .btn-modal{
      padding: 10px 40px;
      margin-bottom: 10px;
    }

    .upload-works{
      display: none;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      margin-top: 20px;
      gap: 20px;
          
      .upload-img{    
        height: 210px;
        width: 420px;
        background: rgb(232, 241, 246);
        border-radius: 5px;
        display: flex;   
        flex-direction: column;
        align-items: center;
        gap: 10px;
    
          .img-placeholder{
            padding-top: 30px;
            width: 76px;
            fill: $grey-3;
          }
          p{
            color: $darker-grey;
            font-size: 12px;
            font-weight: 400;
            margin-top: -15px;
            padding-bottom: 30px;
          }
          label{
            color: $white;
            padding: 10px 40px;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 60px;
            background-color: $grey-4;
            color: $blue;
            cursor: pointer;
          }
          input{
            display: none;
          }
          img{
            object-fit: cover;           
            height: 100%;
          }
        }
    
        .upload-form{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: 1px solid $grey-2;
          padding-bottom: 20px;
    
          label{
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 500;
            font-family:'Work Sans';
          }
          input, select{
            background-color: $white;
            width: 420px;
            height: 51px;
            box-sizing: border-box;
            box-shadow: 0 4px 14px rgba($black,0.1);
            margin-bottom: 20px;
            padding-left: 10px;
          }   
        }
        #upload-form-submit{
          padding: 10px 80px;
          margin: 0;
          display: flex;
          justify-content: center;
        }
        .error-modal{
          color: $light-brown;
        }
    }  
  }
}
